a{
    text-decoration: none;
    color: black;
    margin: 37px;
}
header{
    background-color: #ffffff;
}
body{
    background-color: #ebebeb;

}
input{
    width: 85%;
    margin-top: 20px;
    border-radius: 50px;
    height: 40px;
}
.datos{
    text-align: left;
}
button{
    width: 40px;
    height: 40px;
    background-color: #00bf62;
    border: none;
    border-radius: 50px;
    color: white;
}

.menu-principal ul{
    list-style:none;
    margin:0;
    padding:0;
    list-style: none;
}
.menu-principal li{
    position:relative;
    float:left;
    margin: 23px;
    padding:0;
    font-size: 20px;
    padding-left:10px;
    padding-right:10px;    
}
.cajalogo{
    text-align: center;
}
.logo{
    vertical-align: middle;
    width: 200px;  
}
.banner{
    width: 100%;
    margin-top: 10px;
}
.attachment-woocommerce_thumbnail{
    height: 200px;
}
.woocommerce-loop-product__title{
    color: black;
}
.woocommerce ul.products li.product .button {
    background-color: #00bf62;
    border-radius: 30px;
}
.woocommerce ul.products li.product{
    text-align: center;
}
.slick-next, .slick-prev {
    display: none !important;
}
  
footer{
    background-color: #00bf62;
    color: white;
    text-align: center;
}
.footer_tittle{
    font-size: 100px;
}

.titulos{
    margin: 30px 0px;
    text-align: center;
}
.woocommerce ul.products li.product{
    background-color: white;
    width: 30%;
    height: 80%;

}

.woocommerce span.onsale{
    background-color: #bf0000;
}

.woocommerce ul.products li.product .button{
    color: #ffffff;
    margin: 10px 0px;
    margin-left: -30px;
}
.woocommerce div.product form.cart .button {

    background-color: #00bf62;
    width: 200px;
    height: auto;
}

.woocommerce .quantity .qty{
    width: 100%;
    margin: 0px;
}
.woocommerce #review_form #respond .form-submit input {
    background-color: #00bf62;
    width: 10%;
    color: white;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
    color: inherit;
    text-shadow: inherit;
    margin: initial;
}

.woocommerce .woocommerce-breadcrumb {
    margin-top: 10px;
}
#reply-title {
    font-size: x-large;
}
.woocommerce #review_form #respond textarea {
    width: 100%;
    height: auto;
}
p.form-submit {
    text-align: right;
}
.woocommerce .woocommerce-ordering select {
    vertical-align: top;
    margin: 25px 0px;
    color: #000;
    width: 100%;
    border-radius: 10px;
}
h1.woocommerce-products-header__title.page-title {
    background-color: #ebebeb;
}
.woocommerce .woocommerce-result-count {
    margin: 0;
    color: #bdbdbd;
}
.woocommerce-account .woocommerce-MyAccount-navigation {
    float: left;
    width: 30%;
    height: auto;
    background-color: #00bf62;
    list-style-type: none;
    cursor: default;
    font-size: 16px;

}

li.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--dashboard,
li.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--orders,
li.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--downloads,
li.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--edit-address,
li.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--edit-account,
li.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--customer-logout
{
    display: inline-block;
    margin: 10PX;
    font-size: 25PX;
    /* text-decoration: NONE; */
}
.woocommerce-account .woocommerce-MyAccount-content {
    float: inline-end;
    width: 65%;
    margin-top: 20px;
}

a.checkout-button.button.alt.wc-forward {
    background-color: #00bf62;
}

table.shop_table.shop_table_responsive,table.shop_table.woocommerce-checkout-review-order-table {
    background-color: white;
}
input#coupon_code {
    width: auto;
}
form.woocommerce-cart-form {
    margin-top: 25px;
}
.woocommerce .cart .button {
    float: none;
    background-color: #00bf62;
    width: auto;
}
tr{
    text-align: center;
}

.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
    width: auto;
    background: #00bf62;
}

.footer1.col-md-3 {
    margin-top: 25px;
}

button.woocommerce-Button.button {
    width: auto;
    height: 70px;
    background-color: #00bf62;
    color: white;
}

.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
  }
  
  .whatsapp-icon {
    margin-top:13px;
  }

  .Ir{
    display: block;
    text-align: center;
    color: white;
    padding: 10px;
    width: 100%;
    height: auto;
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0px;
    background-color: #00bf62;
  }