a{
    text-decoration: none;
    color: black;
}
header{
    background-color: #ffffff;
}
body{
    background-color: #dddddd;

}
input{
    margin-top: 20px;
    border-radius: 50px;
    height: 40px;
}
button{
    width: 40px;
    height: 40px;
    background-color: #00bf62;
    border: none;
    border-radius: 50px;
    color: white;
}

.menu-principal ul{
    list-style:none;
    margin:0;
    padding:0;
    list-style: none;
}
.menu-principal li{
    position:relative;
    float:left;
    margin: 23px;
    padding:0;
    font-size: 20px;
    padding-left:10px;
    padding-right:10px;    
}
.logo{
    vertical-align: middle;
    width: 200px;
}
.banner{
    width: 100%;
}
.attachment-woocommerce_thumbnail{
    height: 200px;
}
.woocommerce-loop-product__title{
    color: black;
}
.woocommerce ul.products li.product .button {
    background-color: #00bf62;
    border-radius: 30px;
    color: black;
}
.woocommerce ul.products li.product{
    text-align: center;
}
/*.woocommerce ul.products li.product a img {
  
}*/


footer{
    background-color: #00bf62;
    color: white;
    text-align: center;
}
.footer_tittle{
    font-size: 100px;
}