a{
    text-decoration: none;
    color: black;
}
header{
    background-color: #ffffff;
}
body{
    background-color: #ebebeb;

}
input{
    margin-top: 20px;
    border-radius: 50px;
    height: 40px;
}
button{
    width: 40px;
    height: 40px;
    background-color: #00bf62;
    border: none;
    border-radius: 50px;
    color: white;
}

.menu-principal ul{
    list-style:none;
    margin:0;
    padding:0;
    list-style: none;
}
.menu-principal li{
    position:relative;
    float:left;
    margin: 23px;
    padding:0;
    font-size: 20px;
    padding-left:10px;
    padding-right:10px;    
}
.logo{
    vertical-align: middle;
    width: 200px;
}
.banner{
    width: 100%;
    margin-top: 10px;
}
.attachment-woocommerce_thumbnail{
    height: 200px;
}
.woocommerce-loop-product__title{
    color: black;
}
.woocommerce ul.products li.product .button {
    background-color: #00bf62;
    border-radius: 30px;
    color: black;
}
.woocommerce ul.products li.product{
    text-align: center;
}
.slick-next, .slick-prev {
    display: none !important;
}
  
footer{
    background-color: #00bf62;
    color: white;
    text-align: center;
}
.footer_tittle{
    font-size: 100px;
}

.titulos{
    margin: 30px 0px;
    text-align: center;
}

.woocommerce ul.products li.product{
    background-color: white;
    width: 205px;
    height: 350px;
}

.woocommerce span.onsale{
    background-color: #bf0000;
}

.woocommerce ul.products li.product .button{
    color: #ffffff;
    margin: 10px 0px;
}
.wc-block-cart__empty-cart__title {
    margin: 25px 0px;
}

.wp-block-woocommerce-cart {
    margin: 35px 0px;
}

.wc-block-components-button:not(.is-link) .wc-block-components-button__text {
    display: block;
    background-color: #00d354;
    border-radius: 10px;
    height: 35px;
    width: 195px;
}